
{% set authors = [
    {'id': 1, 'picture': '/images/Victor-Hugo.jpg', 'username': 'Victor Hugo'|upper, 'email': 'victor.hugo@gmail.com', 'nb_books': 100},
    {'id': 2, 'picture': '/images/william-shakespeare.jpg', 'username': 'William Shakespeare'|upper, 'email': 'william.shakespeare@gmail.com', 'nb_books': 200},
    {'id': 3, 'picture': '/images/Taha_Hussein.jpg', 'username': 'Taha Hussein'|upper, 'email': 'taha.hussein@gmail.com', 'nb_books': 300}
] %}
<ul>

    {% for author in authors %}
        <li>
            <img src="{{ author.picture }}" alt="{{ author.username }}"/>
            <h2>{{ author.username}}</h2>
            <p>Email: {{ author.email }}</p>
            <p>Nombre de livres: {{ author.nb_books }}</p>
        </li>
       
    {% endfor %}
</ul>